## Delete duplicated emails
```
DELETE p1 FROM Person p1, Person p2 WHERE p1.Email = p2.Email AND p1.Id > p2.Id
```

## Select duplicated emails
```
SELECT p1.Email FROM Person p1, Person p2 WHERE p1.Email = p2.Email AND p1.Id != p2.Id
```

## Rising Temperature

    SELECT w0.Id FROM Weather w0, Weather w1 WHERE DATEDIFF(w0.RecordDate, w1.RecordDate) = 1 AND w0.Temperature > w1.Temperature

## Select Second Highest Salary
    
    SELECT MAX(Salary) AS SecondHighestSalary  FROM Employee WHERE Salary  NOT IN (SELECT MAX(Salary) FROM Employee)

## Not Boring Movies

    SELECT * FROM cinema WHERE MOD(id, 2) = 1 AND description != 'boring' ORDER BY rating DESC

## Swap Salary

    UPDATE salary SET sex = CASE WHEN sex = 'm' THEN 'f' ELSE 'm' END;

## Employees Earning More Than Managers

    SELECT e1.Name as Employee FROM Employee e1 JOIN Employee e2 ON e1.ManagerId = e2.Id WHERE e1.Salary > e2.Salary

## Classes More Than 5 Students
    SELECT class FROM (SELECT class, COUNT(DISTINCT student) as students FROM courses GROUP BY class) AS temp_table WHERE students >= 5

## Reformat Department Table
    SELECT id,
        SUM(IF( month = 'Jan', revenue, null )) AS Jan_Revenue,
        SUM(IF( month = 'Feb', revenue, null )) AS Feb_Revenue,
        SUM(IF( month = 'Mar', revenue, null )) AS Mar_Revenue,
        SUM(IF( month = 'Apr', revenue, null )) AS Apr_Revenue,
        SUM(IF( month = 'May', revenue, null )) AS May_Revenue,
        SUM(IF( month = 'Jun', revenue, null )) AS Jun_Revenue,
        SUM(IF( month = 'Jul', revenue, null )) AS Jul_Revenue,
        SUM(IF( month = 'Aug', revenue, null )) AS Aug_Revenue,
        SUM(IF( month = 'Sep', revenue, null )) AS Sep_Revenue,
        SUM(IF( month = 'Oct', revenue, null )) AS Oct_Revenue,
        SUM(IF( month = 'Nov', revenue, null )) AS Nov_Revenue,
        SUM(IF( month = 'Dec', revenue, null )) AS Dec_Revenue
    FROM Department
    GROUP BY id